# Go
/bin/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
secrets/*.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Editor
.vscode/
.DS_Store

# Sonar
*.log

# Docker
docker-compose.*.yml
